{erl_opts, [debug_info]}.
{deps, [
  {msgpack, ".*",
   {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.5.0"}}},
  {ranch, ".*",
   {git, "git://github.com/extend/ranch.git", {tag, "1.2.1"}}},
  {proper, ".*",
   {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
 ]}.
