{erl_opts, [debug_info]}.
{deps, [{msgpack, ".*",
         {git, "git://github.com/msgpack/msgpack-erlang.git", {tag, "0.5.0"}}},
        {ranch, ".*",
         {git, "git://github.com/extend/ranch.git", {tag, "1.2.1"}}},
        {proper, ".*",
        {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}]
}.

{relx, [{release, { erlang_msgpack_example, "0.1.0" },
         [erlang_msgpack_example,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
